{
    "root": true,
    "env": {
      "browser": true,
      "es6": true,
      "jest": true
    },
    "parserOptions": {
        "ecmaFeatures": {
          "jsx": true 
        }
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "plugins": [
      "@typescript-eslint",
      "prettier",
      "react"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:react/recommended",
      "prettier"
    ],
    "rules": {
      "no-console": 0,        // Ignore console usage
      "prettier/prettier": 1, // Warn on unpretty (switch to 2 for error)
      "no-unused-vars": 0,
      "@typescript-eslint/no-unused-vars": 1,
      "@typescript-eslint/no-explicit-any": 1
    }
  }
