header, footer {
  background-color: #374153;
  text-align: center;
  color: white;
  padding: 10px 0;
}

header {
  margin-bottom: 50px;
  font-size: 28px;
}

footer {
  margin-top: 50px;
  font-size: 14px;
}