.app-header {
  padding: 10px;
  height: 3vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: #282c34;
  color: white;
  text-align: center;
  font-size: 16px;
}

.github-link {
  color: white;
  float: left;
}

.app {
  height: 97vh;
  padding: 20px;
  background: linear-gradient(180deg, #374153 0%, #374153 75%, #282c34 100%);

  color: white;
  text-align: center;
  font-size: calc(10px + 2vmin);
}
