#player-container {
    height: 100%;
}

#player {
    height: 100%;
    display: flex;
    flex-direction: row;
}

#clip-container {
    width: calc(75% - 40px);

    margin: 10px 10px;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
}

#title {
    padding: 0 0 0 20px;
    text-align: left;
}

#sidebar {
    height: calc(100% - 20px);
    width: 25%;

    margin: 10px 10px;

    display: flex;
    flex-direction: column;
}

#details-container {
    padding: 10px;
    color: black;

    border-radius: 4px;

    display: flex;
    flex-direction: row;

    font-size: 16px;
}

#comments-container {
    height: 100%;
    padding: 10px;
    margin: 10px 0 0 0;
    color: black;

    border-radius: 4px;

    text-align: center;
    font-size: 16px;
}

#comments-box {
    height: 100%;
    /* border: 1px solid; */
    margin: 10px 0 0 0;

    overflow: auto;
}

.comment {
    color: white;
}

.comment .header {
    padding: 0 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment .text {
    padding: 4px;
    text-align: left;
}
