@font-face {
	font-family: "NotoSansMono";
	src: local("NotoSansMono"),
		url("./assets/fonts/NotoSansMono/NotoSansMono.ttf") format("truetype");
}

body {
	margin: 0;
	font-family: "NotoSansMono";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #374153;
}
