.file-selector {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.file-selector-form {
    height: 26vh;
    width: 30vw;
    max-width: 100%;
    text-align: center;
    position: relative;
    border-style: dashed;
    border-color: #5e9ce7;
    background-color: #f8fafc;
    border-width: 4px;
    border-radius: 1rem;
}

.file-selector-input {
    display: none;
}

#drag-drop-label {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border-width: 2px;
    border-radius: 1rem;
    font-size: 28px;
}

.file-selector-button {
    cursor: pointer;
    padding: 0.25rem;
    font-size: 1rem;
    border: none;
    background-color: transparent;
}

.file-selector-button:hover {
    text-decoration-line: underline;
}

.drag-file-element {
    position: absolute;
    background-color: #23aca0;
    transition: 25s ease;
    opacity: 0.35;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    border-radius: 1rem;
    top: -4px;
    left: -4px;
    bottom: 0px;
    right: 0px;
}
