.file-selector {
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-selector-form {
    height: 26vh;
    width: 28vw;
    max-width: 100%;
    text-align: center;
    position: relative;
    border-style: dashed;
    border-color: #cbd5e1;
    background-color: #f8fafc;
    border-width: 2px;
    border-radius: 1rem;
}

.file-selector-input {
    display: none;
}

#drag-drop-label {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border-width: 2px;
    border-radius: 1rem;
}

.file-selector-button {
    cursor: pointer;
    padding: 0.25rem;
    font-size: 1rem;
    border: none;
    font-family: 'Oswald', sans-serif;
    background-color: transparent;
}

.file-selector-button:hover {
    text-decoration-line: underline;
}

.drag-file-element {
    position: absolute;
    background-color: blue;
    opacity: 0.35;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border-width: 2px;
    border-radius: 1rem;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
