#previewer {
    height: 100%;
    display: flex;
    flex-direction: row;
}

#video-preview-container {
    width: 75%;

    margin: 10px 10px;
    padding: 10px;
    background-color: #7774a1;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
}

#player-box {
    height: 84%;
    aspect-ratio: 16 / 9;
    background-color: #000000;
}

#controller {
    width: 100%;
    background-color: #8dc7e8;
    border-radius: 0 0 4px 4px;
}

#controller-stack {
    display: flex;
    margin: 10px;
}

#slider-stack {
    flex-grow: 1;
    display: flex;
    font-size: 14px;
}

#slider-container {
    flex-grow: 1;
    display: grid
}

#seeker, #trimmer{
    grid-column: 1;
    grid-row: 1;
}

#trim-inputs-container {
    padding: 10px;
    height: 40px;
}

#volume-slider{
    width: 50px
}

#clip-details-form {
    height: calc(100% - 20px);
    width: 25%;

    margin: 10px 10px;

    display: flex;
    flex-direction: column;
    
    font-size: 20px;
}

#form-container {
    max-width: 100%;
    height: calc(85% - 26px);
    padding: 10px 10px;
    background-color: #7774a1;
    border-radius: 4px;
}

#form-fields-container {
    background-color: #8dc7e8;
    max-width: 100%;
}


#thumbnail-container {
    background-color: #1f2531;
    margin: 10px 10px;
    border-radius: 4px;
    padding: 10px
}

#thumbnail-canvas {
    height: 360px;
    width: 360px;
}

#thumbnail-container button {
    width: 100%;
    padding: 4px;
}

#thumbnail-button-container {
    margin: 5px 0 0 0;
}
#capture-frame-button {
    height: 100%;
}

#thumbnail-filename-field {
    background-color: #949494;
    padding: 2px;
    margin: 5px 0;
}

#thumbnail-filename-field::placeholder {
    opacity: 1;
}


#cropping-overlay {
    z-index: 2;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.90);
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cropping-overlay-element-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#cropping-close-button {
    position: absolute;
    top: 2%;
    left: 90%;

    height: 80px;
    width: 80px;
    max-height: 80px;
    max-width: 80px;

    border-radius: 50%;
}

#cropping-button-grid-container {
    width: 100%;
    display: flex;
    justify-content: center;

    margin: 20px 0;
}

#cropping-button-grid-container button {
    height: 30px;
    font-size: 20px
}

#cropping-button-grid {
    width: 50%;
}

.react-crop {
    max-height: 800px;
}

#cropping-canvas {
    max-height: 800px;
}


/* VVVV Wild CSS for animated submit button VVVV */


#submit-button-container {
    width: 100%;
    padding: 10px 0;
    height: calc(15% - 10px);
    /* margin: 10px; */
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    /* margin-top: auto; */
    /* background-color:  #1f2531; */
}

#submit-button {
    width: 100%;
    font-size: 32px;
}

#submit-button {
    width: 100%;
    font-size: 32px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

#submit-button:before {
    content: '';
    background: linear-gradient(45deg, #40ff50, #40f1d4, #00b7ff, #3844eb, #d400ff, #3844eb, #00b7ff, #40f1d4);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#submit-button:active {
    color: #000
}

#submit-button:active:after {
    background: transparent;
}

#submit-button:hover:before {
    opacity: 1;
}

#submit-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
