.previewer {
    display: flex;
    flex-direction: row;
}

.video-preview-container {
    height: 100%;
    width: 75%;

    margin: 10px 10px;
}

.video-preview-container video {
    width: 100%;
    height: 100%;
}

#clip-details-form {
    width: 25%;

    margin: 10px 10px;
    padding: 10px 10px;

    display: flex;
    flex-direction: column;
    
    background-color: rgb(119, 116, 161);
    border-radius: 4px;
    font-size: 20px;
}

#clip-details-form button {
    width: 100%;
}

#submit-button {
    height: 50px;
    width: 100%;
    font-size: 32px;
    margin: 20px 0px;
}


#thumbnail-container {
    background-color: #1f2531;
    margin: 0px 0px;
    border-radius: 4px;
    padding: 10px
}

#thumbnail-button-grid button {
    height: 30px;
}

#thumbnail-canvas {
    margin: 10px 10px;
    height: 400px;
    width: 400px;
}

#cropping-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.90);
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cropping-overlay-element-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#cropping-close-button {
    position: absolute;
    top: 2%;
    left: 90%;

    height: 80px;
    width: 80px;
    max-height: 80px;
    max-width: 80px;

    border-radius: 50%;
}

#cropping-button-grid-container {
    width: 100%;
    display: flex;
    justify-content: center;

    margin: 20px 0px;
}

#cropping-button-grid-container button {
    height: 30px;

    font-size: 24px
}

#cropping-button-grid {
    width: 50%;
}

#cropping-canvas {
    max-height: 800px;
}


button {
    color: #272727;
    border: 0px;
    border-radius: 2px;
    cursor: pointer;
    width: max-content;
    transition: 0.25s ease;
}

button:hover {
    background-color: #23aca0;
}